html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    margin: 0;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: black;
    color: white;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Section */
.section {
    padding: 60px;
    text-align: center;
}

/* Projects */
.project {
    margin: 20px;
}